beautifulsoup4>=4.10.0
bump2version==1.0.1
Click==8.2.0
curlify>=2.2.1
flake8==7.2.0
pip>=21.1
pytest==8.3.5
pytz>=2021.3
Sphinx==8.2.3
twine==6.1.0
watchdog==6.0.0
wheel==0.45.1
geopy>=2.2.0
cloudscraper>=1.2.60
python-dotenv==1.1.0
ruff==0.11.10