beautifulsoup4>=4.10.0
black==24.4.2
bump2version==1.0.1
Click==8.1.7
coverage==7.4.4
curlify>=2.2.1
flake8==7.0.0
pip>=21.1
pytest==8.2.0
pytz>=2021.3
Sphinx==7.3.7
tox==4.14.2
twine==5.0.0
watchdog==4.0.0
wheel==0.43.0
