name: Scan for Secrets

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    secret-scan:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v5

            - name: Scan for Secrets with TruffleHog
              uses: trufflesecurity/trufflehog@v3
              with:
                  scan-mode: entropy
                  github-token: ${{ secrets.GITHUB_TOKEN }}

            - name: Remove Found Secrets (Optional)
              run: echo "Please review and handle secrets manually if detected."
